#!/bin/sh

backup_parent_dir={{ item.backup_parent_dir | default("/data/backups/homes") }}
backup_date=`date +%Y-%m-%d_%H-%M`
backup_dir="${backup_parent_dir}/`date "+%Y-%m-%d"`"
echo "Backup directory: ${backup_dir}"
mkdir -p "${backup_dir}"
chmod 755 "${backup_dir}"
HOSTNAME=`hostname`

# set DAYS
if [ -n "$1" ]; then
  DAYS=$1
else
  DAYS={{ item.retention | default("14") }}
fi

logger "*** Start homes Backup ***"

tar -c --exclude-vcs --exclude-backups --exclude='*.sock' -I pigz -f "${backup_dir}/${HOSTNAME}_homes_${backup_date}.tgz" -C / home 
chmod 600 "${backup_dir}/${HOSTNAME}_homes_${backup_date}.tgz"

logger "*** Delete backups older than ${DAYS} days ***"

# Delete backups older than ${days}
find ${backup_parent_dir} -name '*' -type d -mtime +${DAYS} -prune -exec rm -rfv "{}" \;

logger "*** Finish homes Backup ***"
